<!-- Warehouse Manage -->
<div class="content-wrapper" th:fragment="manage-warehouse">
    <!-- Local Resources -->
    <link rel="stylesheet" type="text/css" th:href="@{admin/css/layout/manage/warehouse.css}">
    <script type="text/javascript" th:src="@{admin/js/layout/manage/warehouse.js}"></script>
    <!-- JQuery Validate plugin -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <!-- DataTable plugin -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs5/dt-1.10.25/af-2.3.7/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css" />
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs5/dt-1.10.25/af-2.3.7/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.25/api/row().show().js"></script>
    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <div class="page-title"><span>Manage Warehouse</span></div>
                <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                    <ul class="quick-links">
                        <li><a href="javasript:void(0);">Manage</a></li>
                        <li><a th:href="@{system/manage/warehouse}">Warehouse</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title Header Ends-->

    <div class="row">
        <div class="container-fluid">



        </div>
    </div>
</div>
<!-- Warehouse Manage Ends -->